html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    background-image: linear-gradient(to bottom right, #42a7ad, #4693B8, #456ba1);
     font-family: "Cairo Regular", sans-serif;
    font-size: 16px;
    color: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0; table-layout : auto;
    width: 50%;
    margin: 0 auto;
    table-layout: auto;
}

tr {
    padding-bottom: 5px;
}

input[type=Text] {
    border-radius: 25px 25px;
    padding: 16px;
    width: 75%;
    height: 5%;
    border: 0px;
}

input[type=submit] {
    background-color: #42a7ad;
    color: white;
    font-family: "Cairo Bold", sans-serif;
    font-size: 24px;
    border-radius: 26px;
    padding: 10px 32px;
    border: 0px;
}

input[type=submit]:hover {
    background-color: #4e42ad;
}