html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    background-image: linear-gradient(to bottom right, #42a7ad, #4693B8, #456ba1);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    width: 45%;
    margin: 0 auto;
    table-layout: auto;
}

tr {
}

input[type=Text] {
    border-radius: 2px 25px;
    padding: 16px;
    width: 75%;
    height: 5%;
}

input[type=submit] {
    background-color: #42a7ad;
    color: white;
    font-family: "Cairo Bold", sans-serif;
    font-size: 24px;
    border-radius: 26px;
    margin-top: 1%;
    margin-right: 2%;
    padding: 10px 32px;
    border: 0px;
    float: right;
}

input[type=submit]:hover {
    background-color: #4e42ad;
}

#factorQues{
    color: white;
    font-family: "Cairo Bold", sans-serif;
    font-size: 24px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
}

#foot {
    position: fixed;
    bottom: 5%;
    right: 8%;
    font-family: "Cairo Regular", sans-serif;
    font-size: 16px;
    color: white;
}

#image{
    border: 0;
    width: 15%;
    height: 15%;
    opacity: 1;
    display: block;
    margin-left: 1%;
    margin-top: -1%;
    float: left;
}
