    html {
    
    -webkit-font-smoothing: antialiased;
     min-height: 100%;
    background-image: linear-gradient(to bottom right, #42a7ad, #4693B8, #456ba1);
}

#image{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 7%;
    height: auto; 

    left: 1%;
    top: 1%;
}

#imageLogoRight{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 10%;
    height: auto;  
    right: 0;
    top: -1%;
}
#usercontainer{
    position: fixed;
    width: 340px;
    height: 260px;
    top: 50%;
    left: 45%;
    margin-top: -140px;
    margin-left: -170px;
    border-radius: 3px;
}
#asscontainer{
    position: fixed;
    width: 340px;
    height: 260px;
    top: 75%;
    left: 40%;
    margin-top: -140px;
    margin-left: -170px;
    border-radius: 3px;
    
}
#logcontainer{
    position: fixed;
    width: 340px;
    height: 260px;
 	top: 60%;
    left: 45%;
    margin-top: -140px;
    margin-left: -170px;
    border-radius: 3px;
}
input[type=submit] {
    
background-color: #42a7ad;
color: white;
font-family: "Cairo Bold", sans-serif;
font-size: 24px;
border-radius: 26px;
padding: 10px 32px;
border: 0px;
float: right;
width: 80%;

}

input[type=submit]:hover {
background-color: #4e42ad;
}

#foot {
    position: fixed;
    bottom: 5%;
    right: 8%;
    font-family: "Cairo Regular", sans-serif;
    font-size: 16px;
    color: white;
}