html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
     background-image: linear-gradient(to bottom right, #42a7ad, #4693B8, #456ba1);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    width: 50%;
    margin: 0 auto;
    table-layout: auto;
}

input[type=submit] {
    background-color: #42a7ad;
    color: white;
    font-family: "Cairo Bold", sans-serif;
    font-size: 24px;
    border-radius: 26px;
    margin-top: 1%;
    margin-right: 2%;
    padding: 10px 32px;
    border: 0px;
    float: right;
}

input[type=submit]:hover {
    background-color: #4e42ad;
}

#factor{
    color: white;
    font-family: "Cairo Regular", sans-serif;
    font-size: 24px;
    padding-left: 25%;
    padding-right: 25%;
    font-weight: bold;
    
}

#factorQues{
    color: white;
    font-family: "Cairo Regular", sans-serif;
    font-size: 16px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#foot {
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-family: "Cairo Regular", sans-serif;
    font-size: 16px;
    color: white;
}

#image{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 7%;
    height: auto; 

    left: 1%;
    top: 1%;
}

#imageLogoRight{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 10%;
    height: auto;  
    right: 0;
    top: -1%;
}
