       html {
    
    -webkit-font-smoothing: antialiased;
     min-height: 100%;
    background-image: linear-gradient(to bottom right, #42a7ad, #4693B8, #456ba1);
    
}
input[type=Text]{
 border-radius: 2px 25px;
    border-color: white;
    border: 50px;
    padding: 20px;
    width: 60%;
    height: 8%;
    
}



input[type=submit] {
background-color: #42a7ad;
color: white;
font-family: "Cairo Bold", sans-serif;
font-size: 24px;
border-radius: 26px;
padding: 10px 32px;
border: 0px;
float: right;

}

input[type=submit]:hover {
background-color: #4e42ad;
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
     width: 340px;
    height: 20%;
    top: 70%;
    left: 50%;

    border-radius: 3px;
}

#companyName{
    font-family: "Cairo Semi-Bold", sans-serif;
    font-size: 24px;
    color: white;
    position: fixed;
    left: 11%;
    top: 5%;
}
#foot {
    position: fixed;
    bottom: 5%;
    right: 8%;
    font-family: "Cairo Regular", sans-serif;
    font-size: 16px;
    color: white;
}
#aboutText{
    font-family: "Cairo Regular", sans-serif;
    font-size: 16px;
    color: white;
     position: fixed;
    width: 65%;
    height: 260px;
    top: 15%;
    left: 5%;
}



#logcontainer{
font-family: "Cairo Regular", sans-serif;
    font-size: 16px;
    color: white;
    position: fixed;
    width: 340px;
    height: 260px;
    top: 70%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;

    border-radius: 3px;
}

#usercontainer{
    font-family: "Cairo Regular", sans-serif;
    font-size: 16px;
    color: white;
    position: fixed;
    width: 340px;
    height: 260px;
    top: 70%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    border-radius: 3px;
}
#assesscontainer {
    font-family: "Cairo Regular", sans-serif;
    font-size: 16px;
    color: white;
    position: fixed;
    width: 340px;
    height: 260px;
    top: 70%;
    left: 35%;
    margin-top: -140px;
    margin-left: -170px;
    border-radius: 3px;
    
}