html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
  
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #f0f0e0;
}

.commandLink {
	color: white;
}
input[type=Text]{

    border-color: white;
    border: 50px;
    padding: 20px;
    width: 100%;
    height:50%;
    
}
table{
	 font-family: "Cairo Regular", sans-serif;
font-size: 16px;
}